* {
    margin: 0;
    text-transform: capitalize;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    color: white;
    text-shadow: 0px 0px 20px #242424;
    font-family: 'Lora', serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.topWidget {
    display: flex;
    justify-content: space-between;
}

.cryptoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0.5em;
    height: 20vh;
}

.cryptoDiv>input {
    margin: 0.5em 0;
    border: none;
}

#user_Crypto_Input {
    margin: 1em 0;
    height: 20%;
    border-radius: 0.5em;
    padding: 0.5em 0;
    padding-left: 0.3em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0.7em;
    border-radius: 2em;
}

.btn {
    font-size: 1rem;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
}

button {
    border-radius: 0.5em;
    border: 4px solid transparent;
}

.weatherDiv {
    display: flex;
    flex-direction: column;
    margin: 1em 0.5em;
}

.weatherDiv>p {
    align-self: flex-end;
    margin-right: 0.5em;
}

.wIcon_with_DEegree {
    display: flex;
    justify-content: space-between;
}

.wIcon_with_DEegree>#weather_value {
    align-self: center;
    width: 100%;
}

#weather_value>span {
    padding: 0 0.1em;
}

.wIcon_with_DEegree>img {
    width: 50%;
}

.centerWidget {
    align-self: center;
    font-size: 2.5rem;
}

.date_Details>#time,
.cryptoDiv>h3 {
    text-align: center;
}

.coin_Prices {
    margin-bottom: 0.2em;
    font-size: 1.3rem;
}

.image_Credit {
    width: 50%;
    margin-left: 0.5em;
}